<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Record</title>
  </head>
  <body>
<button id="stop">Stop</button>
<script>
  let shouldStop = false;
  let stopped = false;
  const stopButton = document.getElementById('stop');

  stopButton.addEventListener('click', function() {
    shouldStop = true;
  });

  navigator.mediaDevices.getUserMedia({ audio: true, video: false })
      .then(function(stream) {
    console.log("here");
    const options = {mimeType: 'audio/webm'};
    const recordedChunks = [];
    const mediaRecorder = new MediaRecorder(stream, options);

    mediaRecorder.ondataavailable = function(e) {
      console.log("recording");
      if (e.data.size > 0) {
        recordedChunks.push(e.data);
      }

      if(shouldStop === true && stopped === false) {
        mediaRecorder.stop();
        stopped = true;
      }
    };

    mediaRecorder.onstop = function() {
      var req = new XMLHttpRequest();
      var data = new FormData();
      var blob = new Blob(recordedChunks);
      data.append('speech', blob, 'speech.wav');
      req.open('POST', '/recvaudio', true); 
      req.send(data);
    };

    mediaRecorder.start(10000);
  })
  .catch(function(err) {
  console.log(err.message);
});

</script>

  </body>
</html>
